<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ternakin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.example.ternakin.pemilik.InsertDataHarian"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.DataHarianList"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.EditAkun"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.OtpScreen"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterTernak.DetailMasterTernak"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterKandang.EditMasterKandang"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterTernak.InsertMasterTernak"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterKandang.AddMasterKandang"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterKandang.MasterKandang"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterTernak.MasterTernak"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterpakan.UpdatePakan"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterpakan.MasterPakan"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterkaryawan.AddDataKaryawan"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.masterkaryawan.MasterKaryawan"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.UserProfile"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ternakin.karyawan.MainActivityKaryawan"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.Registrasi"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.Login"
            android:exported="false" />
        <activity
            android:name="com.example.ternakin.pemilik.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>